<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
  xmlns:p="http://www.springframework.org/schema/p"  
  xmlns:context="http://www.springframework.org/schema/context"  
  xmlns:mvc="http://www.springframework.org/schema/mvc"  
  xsi:schemaLocation="http://www.springframework.org/schema/beans   
 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd   
 http://www.springframework.org/schema/context   
 http://www.springframework.org/schema/context/spring-context-3.1.xsd   
 http://www.springframework.org/schema/mvc   
 http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">  
   <!-- 开启注解 -->  
   <context:annotation-config />    
  <!-- 自动扫描 -->  
  <context:component-scan base-package="com.draven.*" />  
  <!-- 引入配置文件 -->  
  <context:property-placeholder location="classpath:jdbc.properties"/>  
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"  
    destroy-method="close">  
    <property name="driverClass" value="${jdbc.driver}" />  
    <property name="jdbcUrl" value="${jdbc.url}" />  
    <property name="user" value="${jdbc.username}" />  
    <property name="password" value="${jdbc.password}" />  
    <!-- c3p0连接池配置 -->  
    <property name="maxPoolSize" value="15"></property>  
    <property name="minPoolSize" value="10"></property>  
    <property name="autoCommitOnClose" value="false"></property>  
    <property name="checkoutTimeout" value="3000"></property>  
    <property name="acquireRetryAttempts" value="3"></property>  
  </bean>  
  <!-- spring和MyBatis完美整合，不需要mybatis的配置映射文件 -->  
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
    <property name="dataSource" ref="dataSource" />  
    <property name="configLocation" value="classpath:mybatis-config.xml"></property>  
    <!-- 自动扫描mapper.xml文件 -->  
    <property name="mapperLocations" value="classpath:com/draven/mapper/*.xml"></property>  
    <property name="typeAliasesPackage" value="com.draven.entity"></property>  
  </bean>  
    
  <!-- DAO接口所在包名，Spring会自动查找其下的类 -->  
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
    <!-- 自动实现mapper借口并自动注入到IOC容器中 -->  
    <property name="basePackage" value="com.draven.mapper" />  
    <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>  
  </bean>  
    
  <!-- (事务管理)transaction manager, use JtaTransactionManager for global tx -->  
  <bean id="transactionManager"  
    class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
    <property name="dataSource" ref="dataSource" />  
  </bean>  
</beans>  
 